.box {
    @include box-shadow($color-black);
    z-index: 100;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    min-height: calc(100vh - 150px);
    margin: 150px 0 0;
    padding: 32px 24px 24px;
    border-radius: 32px 32px 0 0;
    text-align: center;
    background: $color-brand-white;
    animation-name: intro;
    animation-duration: 0.5;

    @include on (laptop) {
        // justify-content: center;
        padding-top: 64px;
        margin-left: calc(50% + 16px);
        margin-right: 16px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 8px;

        .tap-tap {
            display: inline-block;
            vertical-align: middle;
            padding: 8px 12px;
            font-size: 0.8em;
            font-weight: normal;
            text-transform: uppercase;
            white-space: nowrap;
            color: $color-brand-white;
            background: $color-brand-red;
        }
    }

    &__intro {
        color: $color-text-gray;
        // margin-bottom: 16px;

        strong {
            color: $color-text;
        }

        a {
            color: $color-action;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__mail {
        font-size: 18px;
        color: $color-action;
        margin-bottom: 16px;
    }

    &__image {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 320px;
        position: relative;
        padding: 24px 24px 16px;
        margin: -32px -24px 32px;
        background-color: $color-brand-green;

        > img {
            max-width: 200px;
            margin-bottom: 16px;
        }

        &-title {
            display: block;
            font-weight: bold;
            color: $color-brand-white;
            font-size: 24px;

            img {
                position: relative;
                top: -12px;
                max-width: 100px;
                margin-right: 4px;
                vertical-align: middle;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            background: $color-brand-green;
            border-radius: 2px;
            transform: rotate(45deg);
        }
    }

    &__download {
        display: flex;
        margin: 16px auto;
        max-width: 360px;

        a {
            margin: 0 8px;
        }
    }

    &--message {
        padding: 32px 24px;

        @include on (laptop) {
            padding-top: 64px;

            .box__image {
                margin-top: -64px;
            }
        }

        .box__intro {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}