.button {
    display: inline-block;
    padding: 0 16px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    margin: 4px;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }

    i {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: middle;
    }
    img {
        position: relative;
        top: -3px;
    }

    &--whatsapp {
        @include botton-shadow($color-brand-green);
        color: $color-brand-white !important;
        background-color: $color-brand-green;

        &:hover,
        &:focus {
            background: lighten($color-brand-green, 10%);
        }
    }
}