.form {
    background: $color-brand-white;

    &__container {
        opacity: 0;

        @include on (laptop) {
            opacity: 1;
            margin-top: 32px;
        }
    }

    &__row {
        display: flex;
    }

    &__item {
        position: relative;
        flex-grow: 1;
        margin: 0 8px 20px;

        @include on (laptop) {
            margin-bottom: 40px;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        > i {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: all 0.8s ease-in-out;
        }

        label {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            font-size: 12px;
            line-height: 16px;
            text-align: left;
            color: $color-text-gray;
            background: $color-brand-white;

            &.error {
                color: $color-brand-red;
            }
        }

        input {
            height: 48px;
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
            border: 0;
            border-bottom: 1px solid $color-border;
            border-radius: 0;
            outline: 0;
            font-size: 16px;
            font-family: $font-base;
            color: $color-text;
            background: $color-brand-white;
            transition: all 0.8s ease-in-out;

            &:focus {
                border-bottom: 2px solid $color-action;
                font-weight: bold;
            }

            &.filled {
                border-bottom-color: $color-border-dark;

                & + i {
                    color: $color-action;
                }
            }

            &.error {
                border-bottom: 2px solid $color-brand-red;

                & + i {
                    color: $color-brand-red;
                }
            }
        }

        .visibility {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            border: 0;
            outline: 0;
            color: $color-text-gray;
            padding: 8px;
            background-color: transparent;
        }

        &--pass {
            input {
                padding-right: 40px;
            }
        }

        &--icon {
            input {
                padding-left: 32px;
            }
        }
    }

    &__button {
        width: 100%;
        margin-bottom: 16px;
        text-align: center;

        button {
            @include botton-shadow($color-action);
            position: relative;
            padding: 16px 56px;
            border: 1px solid $color-action;
            outline: 0;
            font-family: $font-base;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-brand-white;
            background: $color-action;
            border-radius: 40px;
            cursor: pointer;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 40px;
                opacity: 0;
            }

            &:hover,
            &:focus {
                background: lighten($color-action, 10%);
            }
        }

        &.loading {
            button {
                border-color: $color-border;
                background-color: $color-brand-white;
                @include botton-shadow($color-brand-white);

                img {
                    opacity: 1;
                }
            }
        }
    }

    &__terms {
        font-size: 14px;

        a {
            font-weight: bold;
            color: $color-text;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}