.main-logo {
    z-index: 150;
    position: relative;
    max-width: 148px;

    &__title {
        text-align: center;
    }

    &__text {
        @extend %hide-text;
        height: 0;
    }

    &__image {
        margin-bottom: 6%;
    }

    &__slogan {
        width: 80%;
        max-width: 240px;
        margin: -8px auto 0;
        text-align: center;
    }

    @include on( laptop ) {
        max-width: 100%;

        &__image {
            height: 220px;
        }
    }
}