.modal {
    opacity: 0;
    // visibility: hidden;
    z-index: 500;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out;

    &.show {
        opacity: 1;
    }

    &__box {
        overflow: hidden;
        transform: translate(0, -50px);
        max-width: 400px;
        padding: 48px 24px;
        margin-top: -24px;
        text-align: center;
        background: $color-brand-white;
        border-radius: 32px;
        transition: transform 0.5s ease-in-out;

        .show & {
            transform: translate(0, 0);
        }

        .hide & {
            transform: translate(0, 50px);
        }
    }

    &__img {
        position: relative;
        padding: 24px 24px 16px;
        margin: -48px -24px 32px;
        background-color: $color-brand-red;

        > img {
            max-width: 100%;
            margin-bottom: 4px;
        }

        span {
            display: block;
            font-weight: bold;
            color: $color-brand-white;
            font-size: 24px;

            img {
                position: relative;
                top: -8px;
                max-width: 100px;
                margin-right: 4px;
                vertical-align: middle;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            background: $color-brand-red;
            border-radius: 2px;
            transform: rotate(45deg);
        }
    }

    &__intro {
        font-size: 18px;
        text-align: center;
    }

    &__list {
        margin: 24px 0 32px 24px;
        text-align: left;

        li {
            margin-bottom: 4px;
        }

        img {
            vertical-align: middle;
            height: 24px;
            margin-top: -2px;
            margin-left: 4px;
        }
    }

    &__button {
        @include botton-shadow($color-action);
        position: relative;
        padding: 16px 56px;
        border: 1px solid $color-action;
        outline: 0;
        font-family: $font-base;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-brand-white;
        background: $color-action;
        border-radius: 40px;
        cursor: pointer;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40px;
            opacity: 0;
        }

        &:hover,
        &:focus {
            background: lighten($color-action, 10%);
        }
    }
}