.video {
    z-index: 5;
    position: absolute;
    top: -180px;
    left: 0;
    width: 100%;
    margin: 0;

    @include on( laptop ) {
        top: 50%;
        transform: translate(0, -50%);
        width: 90%;
        margin: 0 5%;
    }

    &__title {
        margin-bottom: 16px;
        text-align: center;
        color: $color-brand-white;
        font-size: 2rem;

        @include on ( laptop ) {
            margin-bottom: 24px;
            font-size: 2.4rem !important;
        }
    }

    &__container {
        position: relative;
        overflow: hidden;
        // height: 0;
        // padding-top: 56%;
        border-radius: 16px;
        background: darken( $color-brand-red, 40%);
        @include box-shadow($color-black);
    }

    &__thumb {
        width: 100%;
        height: 100%;
        color: $color-text;

        > img {
            display: block;
            width: 100%;
        }

        &-play {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            padding: 12px 28px;
            margin-top: 40px;
            font-size: 18px;
            font-family: $font-title;
            white-space: nowrap;
            background-color: rgba($color-brand-white, 0.9);
            border-radius: 40px;
            transition: all 0.2s ease;

            img {
                margin-right: 12px;
            }
        }

        &:hover {
            cursor: pointer;

            .video__thumb-play {
                background-color: $color-brand-white;
            }
        }

    }
    
    iframe {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 102%;
        height: 103%;
    }

}