.homepage {
    .main-logo {
        opacity: 0;

        &__image {
            margin-bottom: 0;
        }
        
        &__slogan {
            opacity: 0;
        }
        
        @include on ( phone) {
            transform: translate(0, calc(50vh - 100%));
        }

        @include on ( laptop ) {
            transform: translate(calc(100vh - 100%), 0);
        }
    }
}