.register-page {
    &#main-content {
        .first-column {
            min-height: 348px;
        }
        .second-column {
            // min-height: 20%;
            margin-top: 0;
            padding-top: 24px;
            flex-grow: 1;
        }
    }

    &#register-form {
        justify-content: flex-start;
        margin-top: calc(100vh - 150px);

        @supports (padding-top: constant(safe-area-inset-top)) {
            margin-top: calc(100vh - (constant(safe-area-inset-top) + constant(safe-area-inset-bottom) + 200px) );
        }

        @supports (padding-top: env(safe-area-inset-top)) {
            margin-top: calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom) + 200px) );
        }

        @include on (laptop) {
            margin-top: 150px;
        }
    }
}

#register-form {
    justify-content: flex-start;

    @include on (laptop) {
        padding-top: 64px;
        margin-top: 150px;
    }
}