// hide text
.hide-text {
    @extend %hide-text;
}

// no-scroll
.no_scroll {
    overflow: hidden;
}

// mask
.intro-mask {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $color-brand-red;
}

// show on
.show-on {
    &__desktop {
        display: none;

        @include on (laptop) {
            display: block;
        }
    }
}