// google fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');

// local fonts
@font-face {
    font-family: 'Relative';
    src: url('../fonts/Relative-Bold.woff2') format('woff2'),
        url('../fonts/Relative-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Relative';
    src: url('../fonts/Relative-Book.woff2') format('woff2'),
        url('../fonts/Relative-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}