* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: $color-text;
    background: $color-brand-red;
    font-family: $font-base;
}

// titles
h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

// images
img {
    max-width: 100%;
}

// icons
i {
    vertical-align: middle;
}