// The default font family.
$font-base: 'Relative', sans-serif;
$font-title: 'Raleway', sans-serif;

// general
$site-max-width: 1200px;
$columns: 12;

// colors
$color-brand-red: #FC5E5E;
$color-brand-green: #55BA77;
$color-brand-yellow: #FCDA4C;
$color-brand-skyblue: #B3DADB;
$color-brand-white: #FFFFF6;

$color-text: #555555;
$color-text-gray: #888888;

$color-border: #E8E8DC;
$color-border-dark: #C1C1B9;

$color-action: #26C3F4;

$color-black: #000;
