#footer {
    z-index: 50;
    position: relative;
    height: 56px;
    background: $color-brand-green;   

    a {
        padding: 15px 4px;
        color: $color-brand-white;
        text-decoration: none;
        vertical-align: middle;
        line-height: 24px;

        &:hover {
            text-decoration: underline;
        }
    }

    .column {
        display: flex;
        justify-content: space-between; 
    }
}