.container {
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: $site-max-width;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    zoom: 1;

    @include on( phone ) {
        padding-left: 16px;
        padding-right: 16px;
    }

    &-center {
        justify-content: center;
    }

    &-horizontal {
        flex-direction: row;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    // margin-left: -8px;
    // margin-right: -8px;
    zoom: 1;

    &--vertical {
        flex-direction: column;
    }

    &--center {
        align-items: center;
        justify-content: center;
    }

    &--full-width {
        margin-left: -16px;
        margin-right: -16px;
    }

    &--full-height {
        height: 100%;
        min-height: inherit;
    }
}

.column {
    padding-left: 8px;
    padding-right: 8px;

    @for $i from 1 through $columns {
        &__#{$i} {
            width: ($i * 100%)/$columns;
            flex-basis: ($i * 100%)/$columns;

            @include on ( phone ) {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @for $i from 1 through $columns {
        &__l#{$i} {
            @include on( laptop ) {
                width: ($i * 100%)/$columns;
                flex-basis: ($i * 100%)/$columns;
            }

            @include on ( phone ) {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @for $i from 1 through $columns {
        &__m#{$i} {
            @include on( tablet ) {
                width: ($i * 100%)/$columns;
                flex-basis: ($i * 100%)/$columns;
            }

            @include on ( phone ) {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @include on( phone ) {
        @for $i from 1 through $columns {
            &__s#{$i} {
                width: ($i * 100%)/$columns;
                flex-basis: ($i * 100%)/$columns;
            }
        }
    }

    @include on( phone-small ) {
        @for $i from 1 through $columns {
            &__xs#{$i} {
                width: ($i * 100%)/$columns;
                flex-basis: ($i * 100%)/$columns;
            }
        }
    }
}
