#main-content {
    min-height: calc(100vh - 56px);
    // opacity: 0;
    // animation: intro 0.5s;
    animation-name: intro;
    animation-duration: 0.5;
    
    .container {
        height: 100%;
        min-height: inherit;
    }

    .first-column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 8px 16px;
        color: $color-brand-white;

        .main-logo {
            // transform: translate(0, 50%);
        }

        .video {
            position: relative;
            top: 0;
            margin-top: 48px;
            transform: translate(0, 0);
        }
    }

    .second-column {
        position: relative;
        min-height: 320px;
        margin-top: 180px;
        flex-grow: 1;

        @include on ( laptop ) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            min-height: inherit;
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            margin: 0 -16px;

            &-1,
            &-2,
            &-3 {
                height: 100%;
            }

            &-1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 85%;
                padding-top: 18%;
                text-align: center;
                background: $color-brand-skyblue;

                img {
                    z-index: 2;
                    position: relative;
                    margin: 8px;
                }
            }

            &-2 {
                width: 15%;
                background: $color-brand-yellow;
            }

            @include on ( laptop ) {
                flex-direction: column;
                margin: 0;

                &-1,
                &-2,
                &-3 {
                    width: 100%;
                    height: 50%;
                }

                &-1 {
                    position: relative;
                    order: 1;
                    flex-direction: row;
                    padding-top: 200px;

                    &::after {
                        content: '';
                        z-index: 1;
                        position: fixed;
                        top: calc(50% - 28px);
                        left: 60%;
                        right: 0;
                        bottom: 0px;
                        background: inherit;
                    }
                }

                &-2 {
                    &::after {
                        content: '';
                        top: 0;
                        position: fixed;
                        bottom: calc(30%);
                        left: 60%;
                        right: 0;
                        background: inherit;
                    }
                }
            }
        }

        &__header {
            &-title {

            }
        }
    }

    .content {
        flex-grow: 1;
        // display: flex;
        background: $color-brand-white;

        &__header {
            display: flex;
            margin: 0 -24px;

            @include on(laptop) {
                margin: 0 -8px;
            }

            &-title {
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 12px 24px;
                color: $color-brand-white;
                background-color: $color-brand-skyblue;

                .title {
                    font-size: 24px;

                    @include on (laptop) {
                        font-size: 32px;
                    }
                }
            }

            &-icon {
                display: flex;
                align-items: flex-end;
                background-color: $color-brand-yellow;
            }
        }

        &__data {
            padding: 1px 24px 32px;
            margin: 0 -24px;
            background: $color-brand-white;

            @include on(laptop) {
                overflow: auto;
                max-height: calc( 100vh -  136px);
                padding-right: 32px;
                margin: 0 -8px;
            }

            .title {
                display: flex;
                align-items: center;
                font-size: 22px;
                line-height: 1.3em;
                margin: 32px 0 16px;

                .list-icon {
                    padding-left: 36px;
                    background: url('../imgs/list-icon-1.png') no-repeat;
                    background-position: 0 2px;
                    background-size: 24px auto;
                }

                img {
                    height: 48px;
                    margin-left: 16px;
                }

            }

            p {
                margin-bottom: 24px;
                line-height: 1.5em;
                color: $color-text-gray;
            }

            a {
                color: $color-action;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        // min-height: 100vh;
        height: 100vh;
        width: 100%;

        .first-column {
            justify-content: flex-start;

            @include on ( laptop ) {
                justify-content: center;
            }
        }

        .second-column {
            &__background {
                background: $color-brand-green;
                padding-bottom: 56px;
        
                @include on ( laptop ) {
                    padding-bottom: 56px;
        
                    &-1 {
                        &::after {
                            bottom: 56px;
                        }
                    }
                }
        
                &::after {
                    content: '';
                    position: fixed;
                    bottom: 0;
                    left: 60%;
                    right: 0;
                    height: 56px;
                    background: inherit;
                }
            }
        }
    }
}