// shadow box
@mixin box-shadow ($color) {
    $shadow-alpha: 0.05;
    box-shadow: 0 4px 4px 0 rgba($color, $shadow-alpha),
                0 8px 8px 0 rgba($color, $shadow-alpha),
                0 16px 16px 0 rgba($color, $shadow-alpha),
                0 32px 32px 0 rgba($color, $shadow-alpha);
}

// shadow botton
@mixin botton-shadow ($color) {
    $shadow-alpha: 0.1;
    box-shadow: 0 4px 4px 0 rgba($color, $shadow-alpha),
                0 8px 8px 0 rgba($color, $shadow-alpha);
}