@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css?family=Raleway:800&display=swap");
.hide-text, .main-logo__text {
  overflow: hidden;
  display: block;
  text-indent: -999px; }

@font-face {
  font-family: 'Relative';
  src: url("../fonts/Relative-Bold.woff2") format("woff2"), url("../fonts/Relative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Relative';
  src: url("../fonts/Relative-Book.woff2") format("woff2"), url("../fonts/Relative-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100%;
  color: #555555;
  background: #FC5E5E;
  font-family: "Relative", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

img {
  max-width: 100%; }

i {
  vertical-align: middle; }

.no_scroll {
  overflow: hidden; }

.intro-mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #FC5E5E; }

.show-on__desktop {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .show-on__desktop {
      display: block; } }

@keyframes intro {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  display: block;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  zoom: 1; }
  @media only screen and (max-width: 767px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }
  .container-center {
    justify-content: center; }
  .container-horizontal {
    flex-direction: row; }

.row {
  display: flex;
  flex-wrap: wrap;
  zoom: 1; }
  .row--vertical {
    flex-direction: column; }
  .row--center {
    align-items: center;
    justify-content: center; }
  .row--full-width {
    margin-left: -16px;
    margin-right: -16px; }
  .row--full-height {
    height: 100%;
    min-height: inherit; }

.column {
  padding-left: 8px;
  padding-right: 8px; }
  .column__1 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
    @media only screen and (max-width: 767px) {
      .column__1 {
        width: 100%;
        flex-basis: 100%; } }
  .column__2 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
    @media only screen and (max-width: 767px) {
      .column__2 {
        width: 100%;
        flex-basis: 100%; } }
  .column__3 {
    width: 25%;
    flex-basis: 25%; }
    @media only screen and (max-width: 767px) {
      .column__3 {
        width: 100%;
        flex-basis: 100%; } }
  .column__4 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
    @media only screen and (max-width: 767px) {
      .column__4 {
        width: 100%;
        flex-basis: 100%; } }
  .column__5 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
    @media only screen and (max-width: 767px) {
      .column__5 {
        width: 100%;
        flex-basis: 100%; } }
  .column__6 {
    width: 50%;
    flex-basis: 50%; }
    @media only screen and (max-width: 767px) {
      .column__6 {
        width: 100%;
        flex-basis: 100%; } }
  .column__7 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
    @media only screen and (max-width: 767px) {
      .column__7 {
        width: 100%;
        flex-basis: 100%; } }
  .column__8 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
    @media only screen and (max-width: 767px) {
      .column__8 {
        width: 100%;
        flex-basis: 100%; } }
  .column__9 {
    width: 75%;
    flex-basis: 75%; }
    @media only screen and (max-width: 767px) {
      .column__9 {
        width: 100%;
        flex-basis: 100%; } }
  .column__10 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
    @media only screen and (max-width: 767px) {
      .column__10 {
        width: 100%;
        flex-basis: 100%; } }
  .column__11 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
    @media only screen and (max-width: 767px) {
      .column__11 {
        width: 100%;
        flex-basis: 100%; } }
  .column__12 {
    width: 100%;
    flex-basis: 100%; }
    @media only screen and (max-width: 767px) {
      .column__12 {
        width: 100%;
        flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l1 {
      width: 8.33333%;
      flex-basis: 8.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__l1 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l2 {
      width: 16.66667%;
      flex-basis: 16.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__l2 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l3 {
      width: 25%;
      flex-basis: 25%; } }
  @media only screen and (max-width: 767px) {
    .column__l3 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l4 {
      width: 33.33333%;
      flex-basis: 33.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__l4 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l5 {
      width: 41.66667%;
      flex-basis: 41.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__l5 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l6 {
      width: 50%;
      flex-basis: 50%; } }
  @media only screen and (max-width: 767px) {
    .column__l6 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l7 {
      width: 58.33333%;
      flex-basis: 58.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__l7 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l8 {
      width: 66.66667%;
      flex-basis: 66.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__l8 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l9 {
      width: 75%;
      flex-basis: 75%; } }
  @media only screen and (max-width: 767px) {
    .column__l9 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l10 {
      width: 83.33333%;
      flex-basis: 83.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__l10 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l11 {
      width: 91.66667%;
      flex-basis: 91.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__l11 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .column__l12 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (max-width: 767px) {
    .column__l12 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m1 {
      width: 8.33333%;
      flex-basis: 8.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__m1 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m2 {
      width: 16.66667%;
      flex-basis: 16.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__m2 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m3 {
      width: 25%;
      flex-basis: 25%; } }
  @media only screen and (max-width: 767px) {
    .column__m3 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m4 {
      width: 33.33333%;
      flex-basis: 33.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__m4 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m5 {
      width: 41.66667%;
      flex-basis: 41.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__m5 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m6 {
      width: 50%;
      flex-basis: 50%; } }
  @media only screen and (max-width: 767px) {
    .column__m6 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m7 {
      width: 58.33333%;
      flex-basis: 58.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__m7 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m8 {
      width: 66.66667%;
      flex-basis: 66.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__m8 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m9 {
      width: 75%;
      flex-basis: 75%; } }
  @media only screen and (max-width: 767px) {
    .column__m9 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m10 {
      width: 83.33333%;
      flex-basis: 83.33333%; } }
  @media only screen and (max-width: 767px) {
    .column__m10 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m11 {
      width: 91.66667%;
      flex-basis: 91.66667%; } }
  @media only screen and (max-width: 767px) {
    .column__m11 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (min-width: 768px) {
    .column__m12 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (max-width: 767px) {
    .column__m12 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (max-width: 767px) {
    .column__s1 {
      width: 8.33333%;
      flex-basis: 8.33333%; }
    .column__s2 {
      width: 16.66667%;
      flex-basis: 16.66667%; }
    .column__s3 {
      width: 25%;
      flex-basis: 25%; }
    .column__s4 {
      width: 33.33333%;
      flex-basis: 33.33333%; }
    .column__s5 {
      width: 41.66667%;
      flex-basis: 41.66667%; }
    .column__s6 {
      width: 50%;
      flex-basis: 50%; }
    .column__s7 {
      width: 58.33333%;
      flex-basis: 58.33333%; }
    .column__s8 {
      width: 66.66667%;
      flex-basis: 66.66667%; }
    .column__s9 {
      width: 75%;
      flex-basis: 75%; }
    .column__s10 {
      width: 83.33333%;
      flex-basis: 83.33333%; }
    .column__s11 {
      width: 91.66667%;
      flex-basis: 91.66667%; }
    .column__s12 {
      width: 100%;
      flex-basis: 100%; } }
  @media only screen and (max-width: 480px) {
    .column__xs1 {
      width: 8.33333%;
      flex-basis: 8.33333%; }
    .column__xs2 {
      width: 16.66667%;
      flex-basis: 16.66667%; }
    .column__xs3 {
      width: 25%;
      flex-basis: 25%; }
    .column__xs4 {
      width: 33.33333%;
      flex-basis: 33.33333%; }
    .column__xs5 {
      width: 41.66667%;
      flex-basis: 41.66667%; }
    .column__xs6 {
      width: 50%;
      flex-basis: 50%; }
    .column__xs7 {
      width: 58.33333%;
      flex-basis: 58.33333%; }
    .column__xs8 {
      width: 66.66667%;
      flex-basis: 66.66667%; }
    .column__xs9 {
      width: 75%;
      flex-basis: 75%; }
    .column__xs10 {
      width: 83.33333%;
      flex-basis: 83.33333%; }
    .column__xs11 {
      width: 91.66667%;
      flex-basis: 91.66667%; }
    .column__xs12 {
      width: 100%;
      flex-basis: 100%; } }

#main-content {
  min-height: calc(100vh - 56px);
  animation-name: intro;
  animation-duration: 0.5; }
  #main-content .container {
    height: 100%;
    min-height: inherit; }
  #main-content .first-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 8px 16px;
    color: #FFFFF6; }
    #main-content .first-column .video {
      position: relative;
      top: 0;
      margin-top: 48px;
      transform: translate(0, 0); }
  #main-content .second-column {
    position: relative;
    min-height: 320px;
    margin-top: 180px;
    flex-grow: 1; }
    @media only screen and (min-width: 1024px) {
      #main-content .second-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        min-height: inherit; } }
    #main-content .second-column__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      margin: 0 -16px; }
      #main-content .second-column__background-1, #main-content .second-column__background-2, #main-content .second-column__background-3 {
        height: 100%; }
      #main-content .second-column__background-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        padding-top: 18%;
        text-align: center;
        background: #B3DADB; }
        #main-content .second-column__background-1 img {
          z-index: 2;
          position: relative;
          margin: 8px; }
      #main-content .second-column__background-2 {
        width: 15%;
        background: #FCDA4C; }
      @media only screen and (min-width: 1024px) {
        #main-content .second-column__background {
          flex-direction: column;
          margin: 0; }
          #main-content .second-column__background-1, #main-content .second-column__background-2, #main-content .second-column__background-3 {
            width: 100%;
            height: 50%; }
          #main-content .second-column__background-1 {
            position: relative;
            order: 1;
            flex-direction: row;
            padding-top: 200px; }
            #main-content .second-column__background-1::after {
              content: '';
              z-index: 1;
              position: fixed;
              top: calc(50% - 28px);
              left: 60%;
              right: 0;
              bottom: 0px;
              background: inherit; }
          #main-content .second-column__background-2::after {
            content: '';
            top: 0;
            position: fixed;
            bottom: calc(30%);
            left: 60%;
            right: 0;
            background: inherit; } }
  #main-content .content {
    flex-grow: 1;
    background: #FFFFF6; }
    #main-content .content__header {
      display: flex;
      margin: 0 -24px; }
      @media only screen and (min-width: 1024px) {
        #main-content .content__header {
          margin: 0 -8px; } }
      #main-content .content__header-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 12px 24px;
        color: #FFFFF6;
        background-color: #B3DADB; }
        #main-content .content__header-title .title {
          font-size: 24px; }
          @media only screen and (min-width: 1024px) {
            #main-content .content__header-title .title {
              font-size: 32px; } }
      #main-content .content__header-icon {
        display: flex;
        align-items: flex-end;
        background-color: #FCDA4C; }
    #main-content .content__data {
      padding: 1px 24px 32px;
      margin: 0 -24px;
      background: #FFFFF6; }
      @media only screen and (min-width: 1024px) {
        #main-content .content__data {
          overflow: auto;
          max-height: calc( 100vh -  136px);
          padding-right: 32px;
          margin: 0 -8px; } }
      #main-content .content__data .title {
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 1.3em;
        margin: 32px 0 16px; }
        #main-content .content__data .title .list-icon {
          padding-left: 36px;
          background: url("../imgs/list-icon-1.png") no-repeat;
          background-position: 0 2px;
          background-size: 24px auto; }
        #main-content .content__data .title img {
          height: 48px;
          margin-left: 16px; }
      #main-content .content__data p {
        margin-bottom: 24px;
        line-height: 1.5em;
        color: #888888; }
      #main-content .content__data a {
        color: #26C3F4;
        text-decoration: none; }
        #main-content .content__data a:hover {
          text-decoration: underline; }
  #main-content.fullscreen {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 100%; }
    #main-content.fullscreen .first-column {
      justify-content: flex-start; }
      @media only screen and (min-width: 1024px) {
        #main-content.fullscreen .first-column {
          justify-content: center; } }
    #main-content.fullscreen .second-column__background {
      background: #55BA77;
      padding-bottom: 56px; }
      @media only screen and (min-width: 1024px) {
        #main-content.fullscreen .second-column__background {
          padding-bottom: 56px; }
          #main-content.fullscreen .second-column__background-1::after {
            bottom: 56px; } }
      #main-content.fullscreen .second-column__background::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: 60%;
        right: 0;
        height: 56px;
        background: inherit; }

#footer {
  z-index: 50;
  position: relative;
  height: 56px;
  background: #55BA77; }
  #footer a {
    padding: 15px 4px;
    color: #FFFFF6;
    text-decoration: none;
    vertical-align: middle;
    line-height: 24px; }
    #footer a:hover {
      text-decoration: underline; }
  #footer .column {
    display: flex;
    justify-content: space-between; }

.main-logo {
  z-index: 150;
  position: relative;
  max-width: 148px; }
  .main-logo__title {
    text-align: center; }
  .main-logo__text {
    height: 0; }
  .main-logo__image {
    margin-bottom: 6%; }
  .main-logo__slogan {
    width: 80%;
    max-width: 240px;
    margin: -8px auto 0;
    text-align: center; }
  @media only screen and (min-width: 1024px) {
    .main-logo {
      max-width: 100%; }
      .main-logo__image {
        height: 220px; } }

.video {
  z-index: 5;
  position: absolute;
  top: -180px;
  left: 0;
  width: 100%;
  margin: 0; }
  @media only screen and (min-width: 1024px) {
    .video {
      top: 50%;
      transform: translate(0, -50%);
      width: 90%;
      margin: 0 5%; } }
  .video__title {
    margin-bottom: 16px;
    text-align: center;
    color: #FFFFF6;
    font-size: 2rem; }
    @media only screen and (min-width: 1024px) {
      .video__title {
        margin-bottom: 24px;
        font-size: 2.4rem !important; } }
  .video__container {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background: #8b0303;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05); }
  .video__thumb {
    width: 100%;
    height: 100%;
    color: #555555; }
    .video__thumb > img {
      display: block;
      width: 100%; }
    .video__thumb-play {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      padding: 12px 28px;
      margin-top: 40px;
      font-size: 18px;
      font-family: "Raleway", sans-serif;
      white-space: nowrap;
      background-color: rgba(255, 255, 246, 0.9);
      border-radius: 40px;
      transition: all 0.2s ease; }
      .video__thumb-play img {
        margin-right: 12px; }
    .video__thumb:hover {
      cursor: pointer; }
      .video__thumb:hover .video__thumb-play {
        background-color: #FFFFF6; }
  .video iframe {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 103%; }

.box {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05);
  z-index: 100;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  margin: 150px 0 0;
  padding: 32px 24px 24px;
  border-radius: 32px 32px 0 0;
  text-align: center;
  background: #FFFFF6;
  animation-name: intro;
  animation-duration: 0.5; }
  @media only screen and (min-width: 1024px) {
    .box {
      padding-top: 64px;
      margin-left: calc(50% + 16px);
      margin-right: 16px; } }
  .box__title {
    font-size: 24px;
    margin-bottom: 8px; }
    .box__title .tap-tap {
      display: inline-block;
      vertical-align: middle;
      padding: 8px 12px;
      font-size: 0.8em;
      font-weight: normal;
      text-transform: uppercase;
      white-space: nowrap;
      color: #FFFFF6;
      background: #FC5E5E; }
  .box__intro {
    color: #888888; }
    .box__intro strong {
      color: #555555; }
    .box__intro a {
      color: #26C3F4;
      text-decoration: none; }
      .box__intro a:hover {
        text-decoration: underline; }
  .box__mail {
    font-size: 18px;
    color: #26C3F4;
    margin-bottom: 16px; }
  .box__image {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 320px;
    position: relative;
    padding: 24px 24px 16px;
    margin: -32px -24px 32px;
    background-color: #55BA77; }
    .box__image > img {
      max-width: 200px;
      margin-bottom: 16px; }
    .box__image-title {
      display: block;
      font-weight: bold;
      color: #FFFFF6;
      font-size: 24px; }
      .box__image-title img {
        position: relative;
        top: -12px;
        max-width: 100px;
        margin-right: 4px;
        vertical-align: middle; }
    .box__image::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      background: #55BA77;
      border-radius: 2px;
      transform: rotate(45deg); }
  .box__download {
    display: flex;
    margin: 16px auto;
    max-width: 360px; }
    .box__download a {
      margin: 0 8px; }
  .box--message {
    padding: 32px 24px; }
    @media only screen and (min-width: 1024px) {
      .box--message {
        padding-top: 64px; }
        .box--message .box__image {
          margin-top: -64px; } }
    .box--message .box__intro {
      margin-left: 16px;
      margin-right: 16px; }

.form {
  background: #FFFFF6; }
  .form__container {
    opacity: 0; }
    @media only screen and (min-width: 1024px) {
      .form__container {
        opacity: 1;
        margin-top: 32px; } }
  .form__row {
    display: flex; }
  .form__item {
    position: relative;
    flex-grow: 1;
    margin: 0 8px 20px; }
    @media only screen and (min-width: 1024px) {
      .form__item {
        margin-bottom: 40px; } }
    .form__item:first-child {
      margin-left: 0; }
    .form__item:last-child {
      margin-right: 0; }
    .form__item > i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.8s ease-in-out; }
    .form__item label {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -18px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: #888888;
      background: #FFFFF6; }
      .form__item label.error {
        color: #FC5E5E; }
    .form__item input {
      height: 48px;
      width: 100%;
      padding-left: 4px;
      padding-right: 4px;
      border: 0;
      border-bottom: 1px solid #E8E8DC;
      border-radius: 0;
      outline: 0;
      font-size: 16px;
      font-family: "Relative", sans-serif;
      color: #555555;
      background: #FFFFF6;
      transition: all 0.8s ease-in-out; }
      .form__item input:focus {
        border-bottom: 2px solid #26C3F4;
        font-weight: bold; }
      .form__item input.filled {
        border-bottom-color: #C1C1B9; }
        .form__item input.filled + i {
          color: #26C3F4; }
      .form__item input.error {
        border-bottom: 2px solid #FC5E5E; }
        .form__item input.error + i {
          color: #FC5E5E; }
    .form__item .visibility {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      border: 0;
      outline: 0;
      color: #888888;
      padding: 8px;
      background-color: transparent; }
    .form__item--pass input {
      padding-right: 40px; }
    .form__item--icon input {
      padding-left: 32px; }
  .form__button {
    width: 100%;
    margin-bottom: 16px;
    text-align: center; }
    .form__button button {
      box-shadow: 0 4px 4px 0 rgba(38, 195, 244, 0.1), 0 8px 8px 0 rgba(38, 195, 244, 0.1);
      position: relative;
      padding: 16px 56px;
      border: 1px solid #26C3F4;
      outline: 0;
      font-family: "Relative", sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      color: #FFFFF6;
      background: #26C3F4;
      border-radius: 40px;
      cursor: pointer; }
      .form__button button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        opacity: 0; }
      .form__button button:hover, .form__button button:focus {
        background: #57d0f6; }
    .form__button.loading button {
      border-color: #E8E8DC;
      background-color: #FFFFF6;
      box-shadow: 0 4px 4px 0 rgba(255, 255, 246, 0.1), 0 8px 8px 0 rgba(255, 255, 246, 0.1); }
      .form__button.loading button img {
        opacity: 1; }
  .form__terms {
    font-size: 14px; }
    .form__terms a {
      font-weight: bold;
      color: #555555;
      text-decoration: none; }
      .form__terms a:hover, .form__terms a:focus {
        text-decoration: underline; }

.modal {
  opacity: 0;
  z-index: 500;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out; }
  .modal.show {
    opacity: 1; }
  .modal__box {
    overflow: hidden;
    transform: translate(0, -50px);
    max-width: 400px;
    padding: 48px 24px;
    margin-top: -24px;
    text-align: center;
    background: #FFFFF6;
    border-radius: 32px;
    transition: transform 0.5s ease-in-out; }
    .show .modal__box {
      transform: translate(0, 0); }
    .hide .modal__box {
      transform: translate(0, 50px); }
  .modal__img {
    position: relative;
    padding: 24px 24px 16px;
    margin: -48px -24px 32px;
    background-color: #FC5E5E; }
    .modal__img > img {
      max-width: 100%;
      margin-bottom: 4px; }
    .modal__img span {
      display: block;
      font-weight: bold;
      color: #FFFFF6;
      font-size: 24px; }
      .modal__img span img {
        position: relative;
        top: -8px;
        max-width: 100px;
        margin-right: 4px;
        vertical-align: middle; }
    .modal__img::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      background: #FC5E5E;
      border-radius: 2px;
      transform: rotate(45deg); }
  .modal__intro {
    font-size: 18px;
    text-align: center; }
  .modal__list {
    margin: 24px 0 32px 24px;
    text-align: left; }
    .modal__list li {
      margin-bottom: 4px; }
    .modal__list img {
      vertical-align: middle;
      height: 24px;
      margin-top: -2px;
      margin-left: 4px; }
  .modal__button {
    box-shadow: 0 4px 4px 0 rgba(38, 195, 244, 0.1), 0 8px 8px 0 rgba(38, 195, 244, 0.1);
    position: relative;
    padding: 16px 56px;
    border: 1px solid #26C3F4;
    outline: 0;
    font-family: "Relative", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFF6;
    background: #26C3F4;
    border-radius: 40px;
    cursor: pointer; }
    .modal__button img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      opacity: 0; }
    .modal__button:hover, .modal__button:focus {
      background: #57d0f6; }

.button {
  display: inline-block;
  padding: 0 16px;
  font-weight: bold;
  line-height: 40px;
  border-radius: 20px;
  margin: 4px;
  text-decoration: none !important; }
  .button:hover {
    text-decoration: none !important; }
  .button i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle; }
  .button img {
    position: relative;
    top: -3px; }
  .button--whatsapp {
    box-shadow: 0 4px 4px 0 rgba(85, 186, 119, 0.1), 0 8px 8px 0 rgba(85, 186, 119, 0.1);
    color: #FFFFF6 !important;
    background-color: #55BA77; }
    .button--whatsapp:hover, .button--whatsapp:focus {
      background: #79c994; }

.homepage .main-logo {
  opacity: 0; }
  .homepage .main-logo__image {
    margin-bottom: 0; }
  .homepage .main-logo__slogan {
    opacity: 0; }
  @media only screen and (max-width: 767px) {
    .homepage .main-logo {
      transform: translate(0, calc(50vh - 100%)); } }
  @media only screen and (min-width: 1024px) {
    .homepage .main-logo {
      transform: translate(calc(100vh - 100%), 0); } }

.register-page#main-content .first-column {
  min-height: 348px; }

.register-page#main-content .second-column {
  margin-top: 0;
  padding-top: 24px;
  flex-grow: 1; }

.register-page#register-form {
  justify-content: flex-start;
  margin-top: calc(100vh - 150px); }
  @supports (padding-top: constant(safe-area-inset-top)) {
    .register-page#register-form {
      margin-top: calc(100vh - (constant(safe-area-inset-top) + constant(safe-area-inset-bottom) + 200px)); } }
  @supports (padding-top: env(safe-area-inset-top)) {
    .register-page#register-form {
      margin-top: calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom) + 200px)); } }
  @media only screen and (min-width: 1024px) {
    .register-page#register-form {
      margin-top: 150px; } }

#register-form {
  justify-content: flex-start; }
  @media only screen and (min-width: 1024px) {
    #register-form {
      padding-top: 64px;
      margin-top: 150px; } }
